html,body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.theme-container-lg {
  @apply max-w-screen-lg 3xl:max-w-7xl mx-auto px-5;
}

.theme-container-xl {
  @apply max-w-screen-xl mx-auto px-5;
}

.theme-container {
  /* @apply max-w-7xl mx-auto px-5; */
  @apply max-w-screen-lg 3xl:max-w-7xl mx-auto px-5;
}
.theme-container-3xl {
  @apply 2xl:max-w-7xl mx-auto px-5;
}

.theme-container_nopadding {
  @apply max-w-7xl mx-auto;
}
.theme-container-3xl_nopadding {
  @apply 2xl:max-w-7xl mx-auto;
}


.main-navbar_navbar_menu_li {
  @apply block border-b-2 border-transparent hover:border-gray-800 font-extrabold md:font-normal;
}
.main-navbar_navbar_menu_li-active {
  @apply md:font-semibold;
}

.main-navbar_navbar_menu_li:last-child {
  @apply pr-0;
}


.rainbow-text-ad {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-theme-sky via-theme-purple to-theme-red;
}

.rainbow-text-digital {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-theme-sky via-theme-pink to-theme-red;
}

.rainbow-text-more-red {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-theme-purple via-theme-red to-theme-red;
}

.rainbow-text-plus {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-theme-sky to-theme-purple;
}

.block-span{
  @apply inline lg:block;
}

.theme-link {
    @apply border-b border-solid border-transparent transition-all hover:text-theme-sky hover:border-gray-400 pb-px inline-block;
}

.theme-link_nounderline {
    @apply border-b border-solid border-transparent transition-all hover:text-theme-sky inline-block;
}


.black-button {
  @apply bg-theme-gray-dark uppercase font-medium rounded-full px-16 py-4 border-4 border-transparent hover:bg-black hover:border-theme-gray-dark;
}

.section-screen-height {
  @apply h-screen-60 lg:h-screen-90 3xl:h-screen-70;
}

.section-screen-height.section-screen-height_90 {
  @apply h-screen-90 lg:h-screen-90 3xl:h-screen-70;
}

.section-screen-height.section-screen-height_100 {
  @apply h-screen lg:h-screen-90 3xl:h-screen-70;
}

.form {
  @apply space-y-5;
}

.form-input {
  @apply  px-5 py-3 w-full focus:outline-none bg-gray-300 bg-opacity-70 focus:bg-opacity-100 rounded-lg;
}

.form-input:active {
  @apply outline-none;
}

.form-input-white {
  @apply px-5 py-3 w-full focus:outline-none bg-white bg-opacity-90 focus:bg-opacity-100 rounded-lg overflow-hidden;
}

.form-input-white-no-overflow {
  @apply px-5 py-3 w-full focus:outline-none bg-white bg-opacity-90 focus:bg-opacity-100 rounded-lg;
}

.form-input-white:active {
  @apply outline-none;
}

.form-button {
  @apply bg-transparent px-5 py-4 w-full focus:outline-none bg-opacity-70 focus:bg-opacity-100 transition-all;
}

.form-button.rainbow {
  @apply text-white font-medium rounded-xl bg-gradient-to-r from-theme-red via-theme-pink to-theme-purple;
}

.text-shadow-1 {
  text-shadow: 0px 0px 70px rgba(0,0,0, 0.3);
}


.text-shadow-2-white {
  text-shadow: 0px 0px 70px rgba(255, 255, 255, 0.9);
}

.v-lazy-image {
  filter: blur(5px);
  transition: filter 1.6s;
  will-change: filter;
}

.v-lazy-image-loaded {
  filter: blur(0);
}



.loader {
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  position: relative;
}
.loader::before {
  content: '';
  position: absolute;
  left: 34px;
  bottom: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #FFF;
  border-bottom-color: #F4505F;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.storyteller-ani {
  @apply text-gray-100;
}


.nuxt-link-exact-active.nuxt-link-active {
  @apply font-semibold;
}

.white-bg-content h1, .white-bg-content h2, .white-bg-content h3, .white-bg-content h4, .white-bg-content h5, .white-bg-content h6 {

  @apply mb-2;

}

.white-bg-content {
  @apply space-y-5;
}

.white-bg-content h1{
  @apply text-2xl md:text-3xl;
}

.white-bg-content h2{
  @apply text-xl md:text-2xl;
}

.white-bg-content p{
  @apply text-base;
}

.white-bg-content ul{
  @apply list-disc ml-4;
}
